
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}"/>

<nav class="navbar">
    <ul>
        <li><a href="/"><img src={{ url_for('static',filename="santislogo.png") }} alt="Bild" class="home" height="30px"></a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/order">Order</a></li>
        {% if username is defined %}
            <li class="login">Logged in as {{ username }}</li>
        {% else %}
            <li class="login"><a href="/login">Login</a></li>
            <li class="login"><a href="/login/signUp">Register</a></li>
        {% endif %}
            
    </ul>
</nav>
