

body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../schlosslenzburg.jpg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    backdrop-filter: blur(5px);
}

* {
  box-sizing: border-box;
  color: #002147;
  font-weight: bold;
}

.content {
    margin-top: 120px;
    padding: 20px;
}

form {
    margin-top: 20px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
    display: block;
}

.pageButton{
    padding: 10px 20px;
    margin-top: auto;
    margin: 0 auto;
    display: block;
    background-color: #BCCCDC;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: left; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pageButton:hover {
    background-color: #9AA6B2;
    scale: 110%;
    cursor: pointer;
    transition: 0.3s ease;
}
.loginform {
    z-index: 1;
}

.signupform {
    margin: 20px;
    z-index: 1;
}

.forgot-password {
    margin-top: -86px;
    text-align: left;
    display: block;
    color: #007BFF;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #BCCCDC;
    padding: 0 20px; /* Adds some spacing */
    height: 80px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
}

.pageButton {
    align-self: center;
}

nav ul li a {
    text-decoration: none;
    color: #002147;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: all 0.3s ease;
    align-items: center;
    display: flex;
}

.nav-left, .nav-right {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav-left {
    gap: 30px;
}

.nav-right {
    gap: 10px;
    margin-left: auto;
}

.signup :hover {
    background-color: #214066;
    color: white;
    scale: 110%;
}

.login :hover {
    background-color: #91AC8F;
    color: white;
    scale: 110%;
}

.logout :hover {
    background-color: #BF3131;
    color: white;
    scale: 110%;
}

.textnav :hover {
    background-color: #214066;
    color: white;
    scale: 110%;
}

.picnav :hover {
    scale: 110%;
}

.flashes {
    background-color:darkviolet;
    font-size:20px;
    padding:8px 12px;
    border-radius:5px;
    text-decoration:none;
    opacity: 0;
    transition: opacity ease-out 10s;
    z-index:999;

}

.welcome {
    color: #002147;
    text-align: center;
    vertical-align: center;
}

.link {
    color: #002147;
    text-decoration: underline;
}

.link:hover {
    color: #5495ff;
}

.homecontent {
    margin-top: 100px;
}

#countItem {
    padding: 30px;
    display: none;
}

#countItem:hover {
    display:inline;
}
.addItemButton:hover + #countItem {
    display: inline;
}

.table1 {
    background-color: grey;
}

.centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

