
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../schlosslenzburg.jpg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    backdrop-filter: blur(5px);
}

* {
  box-sizing: border-box;
}

.content {
    margin-top: 120px;
    padding: 20px;
}

h2 {
    color: #000000;
}

form {
    margin-top: 20px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
    display: block;
}

input[type="submit"] {
    padding: 10px 20px;
    margin-top: auto;
    background-color: #BCCCDC;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: left; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="submit"]:hover {
    background-color: #9AA6B2;
}
.loginform {
    margin: 20px;
    z-index: 1;
}

.forgot-password {
    margin-top: -86px;
    text-align: left;
    display: block;
    color: #007BFF;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #BCCCDC;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


nav ul {
    list-style: none;
    display: flex;
    margin: 10px;
    padding: 10px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

nav ul li.login{
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    border-radius: 5px;
    align-items: center;
    margin-left: auto;
    display: flex;
    height: 30px;
    padding: 8px 12px;
}

nav ul li a {
    text-decoration: none;
    color: #002046;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

nav ul li a:hover {
    background-color: #9AA6B2;
    scale: 110%;
}

.flashes {
    background-color:darkviolet;
    font-size:20px;
    padding:8px 12px;
    border-radius:5px;
    text-decoration:none;
    opacity: 0;
    transition: opacity ease-out 10s;
    z-index:999;

}


