{% extends "Base.html" %}

{% block header %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
{% endblock %}

{% block content %}
    <div class="centeredContainer">
    <form class="loginform" method="POST" action="/login">
        <h2 class="title">Login</h2>
        <label for="username">Benutzername:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Passwort:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <p>Kein Account? <a href="/signup" class="link">Registrieren</a></p>
	    <input class="pageButton" type="submit" value="Login">
    </form>
    </div>
{% endblock %}
