{% extends "Base.html" %}

{% block header %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
{% endblock %}

{% block content %}
    <h2>Registrierung</h2>
    
    <form class="signupform" method="POST" action="/login/signUp">
        <label for="username">Benutzername:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Passwort:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <label for="repeatPassword">Passwort:</label><br>
        <input type="password" id="repeatPassword" name="repeatPassword" required><br><br>
	<input class="signupbutton" type="submit" value="Registrieren">
    </form>
{% endblock %}
